[submodule "Beryllium/vendor/GLFW"]
	path = Beryllium/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Beryllium/vendor/AL"]
	path = Beryllium/vendor/AL
	url = https://github.com/kcat/openal-soft.git
[submodule "Beryllium/vendor/libsndfile"]
	path = Beryllium/vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
	branch = release-1.2.1
